.cursor {
    position: fixed;
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 50%;
    height: 0.3rem;
    width: 0.3rem;
    transition: all 0.025s ease-in-out; 
    pointer-events: none;
    z-index: 9999;
  }
  
  .cursor-pointer {
    position: fixed;
    background-color: transparent;
    border: 1px solid  var(--blue);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    transition: all 0.025s ease-in-out; /* Faster transition */
    pointer-events: none;
    z-index: 9998;
  }
  